/* ------------------------- Scaling System by Osmo [https://osmo.supply/] -------------------------  */

/* Desktop */
:root {
  --size-unit: 16; /* body font-size in design - no px */
  --size-container-ideal: 1440; /* screen-size in design - no px */
  --size-container-min: 992px;
  --size-container-max: 1920px;
  --size-container: clamp(var(--size-container-min), 100vw, var(--size-container-max));
  --size-font: calc(var(--size-container) / (var(--size-container-ideal) / var(--size-unit)));
}

/* Tablet */
@media screen and (max-width: 991px) {
  :root {
    --size-container-ideal: 834; /* screen-size in design - no px */
    --size-container-min: 768px;
    --size-container-max: 991px;
  }
}

/* Mobile Landscape */
@media screen and (max-width: 767px) {
  :root {
    --size-container-ideal: 550; /* screen-size in design - no px */
    --size-container-min: 480px;
    --size-container-max: 767px;
  }
}

/* Mobile Portrait */
@media screen and (max-width: 479px) {
  :root {
    --size-container-ideal: 390; /* screen-size in design - no px */
    --size-container-min: 320px;
    --size-container-max: 479px;
  }
}

body {
  font-size: var(--size-font);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 2em;
  margin-top: 2em;
}

h2 {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1em;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h5 {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

p {
  font-size: 1em;
  line-height: 1.4;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

hr {
  border-bottom: none;
  border-top: 0.0625em solid #000;
  margin: 0;
}

pre {
  white-space: pre-wrap;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > main {
  margin: 0 1em 1em 1em;
}

section {
  padding: 1em 0;
  @media (min-width: 768px) {
    padding: 2em 0;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  padding: 1em;
}

form {
  max-width: 100%;
  @media (min-width: 768px) {
    max-width: 25em;
  }
}

input {
  border-radius: 0.25em;
  border: 0.0625em solid #000;
  font-size: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.25em;
  padding: 0.5em;
}

legend {
  font-weight: 600;
  margin-bottom: 0.5em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

dl {
  margin: 0.5em 0;
}

code {
  background: #ddd;
  border-radius: 0.25em;
  font-family: monospace;
  padding: 0.25em;
}
